[submodule "modules/network/Network-go"]
	path = modules/network/Network-go
	url = https://github.com/TTK4145-students-2020/Network-go
[submodule "elevator/Simulator-v2"]
	path = elevator/Simulator-v2
	url = https://github.com/TTK4145/Simulator-v2